:root {
  --max-container-width: 1200px;

  --primary-color: #fb2017;
  --secondary-color: #fb2c36;

  --primary-text: #e6e6e6;
  --secondary-text: #8e8d8d;

  --bg-color: #0a0a0a;
  --bg-color-two: #111111;

  --font-sans: 'Inter', system-ui, sans-serif;

  --button-radius: 6px;
}

* {
  font-family:
    JetBrains Mono,
    ui-monospace,
    monospace;
  box-sizing: border-box;

  *::selection {
    background-color: rgba(#fb2c36, 0.5);
    color: white;
  }
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #0a0a0a;
  font-size: clamp(14px, 1vw, 16px);
  scrollbar-width: thin;
  scrollbar-color: #ff3038 #080808;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 999px;
  border: 2px solid #0a0a0a;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff3038;
}
