@use 'breakpoints.scss' as *;

.container {
  width: 100%;
  position: relative;

  &Skills {
    position: absolute;
    top: -50%;
  }

  &Wrapper {
    width: 100%;
    margin: 5rem auto;
    max-width: var(--max-container-width);
    padding: 0 1rem;

    &Content {
      display: grid;
      grid-template-columns: 1fr;

      gap: 1rem;
      margin: 5rem 0 0 0;

      @media (min-width: $tablet) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      & > div {
        display: flex;
        background-color: #111111;
        padding: 1rem;
        border-radius: var(--button-radius);
        align-items: center;

        & > svg {
          width: 1.5rem;
          height: 1.5rem;
          margin: 0 1rem 0 0;
        }
        & > p {
          color: var(--secondary-text);
          font-size: 1rem;
        }
      }
    }
  }
}
